.md{
    
    page-register-data {

        form{
            height: 100%;
            position: relative;
        }
        
        .datetime-md .datetime-placeholder {
            display: none;
        }
        
        .datetime-md {
            padding: 18px 0px 18px 0px;
        }
    }
}
