// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.md{
    .toolbar-background {
        background-color: #ffffff;
    }
    
    .toolbar-title {
        text-align: center;
        font-weight: 500;
        color: color($colors-md,primary);
        pointer-events: auto;
    }
    
    .back-button.show-back-button {
        color: color($colors-md,primary);
    }
    
    //CSS Home 
    .div-head{
        img{
            margin-top: 60%;
            width: 70%
        }
    }
    
    .item-md {
        color:#999;
    }

    .item-md p {
        font-size: 13px;
        color: color($colors-md,danger);
        text-align: justify;
        white-space: pre-wrap;
    }

    .label-md[floating] {
        font-family: sans-serif;
        font-size: 14px;
    }
    
    .div-head{
        height: 100%;
        position: relative;
    }
    
    .btn-submit{
        position: absolute;
        bottom: 10px;
        text-transform: none;
    }
}

